/* ============= Subscription ===================*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
    position: relative;
 }

 .subscription .info {
    width: 671px;
    padding: 0 80px;
 }

 
 .subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;
 }
 .subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
 }

 .subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
 } 

 .subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;

 }


/* PC */
@media screen and (min-width: 992px) {
   .mobile-header {
       display: none;
   }

   .show-on-mobile {
       display: none;
   }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
   .subscription .image {
       display: none;
   }
}

/* Mobile */
@media screen and (max-width: 767px) {
   .subscription .info {
       height: auto;
       padding: 32px;
   }
}
