/* =================FOOTER ============== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
 }
 .footer .row {
    display: flex;
    justify-content: space-between;
 }

 .footer .row-top {
    column-gap: 185px;
 }

 .footer .heading {
    font-weight: 700;
    font-size: 2rem;
    color: #1C1C1D;
 }

 .footer .list,
 .footer .desc {
    margin-top: 42px;
 }
 
 .footer .item {
    margin-top: 18px;
 }
 
.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
    border-radius: 3px;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #C2C2C2;
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .footer .row-top {
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}
